<!-- <span style="color:red" ng-if="error.code==1">{{error.message}}</span>
<form>
<pre>
Enter Username : <input type="text" ng-model = "user.username">
<span style="color:red" ng-if="error.code==2">{{error.message}}</span>
Enter Password : <input type="password" ng-model = "user.password">
Enter Firstname : <input type="text" ng-model = "user.firstname">
Enter Lastname : <input type="text" ng-model = "user.lastname">
Enter Email : <input type="email" ng-model = "user.email">
<span style="color:red" ng-if="error.code==3">{{error.message}}</span>
Enter Phonenumber : <input type="text" ng-model = "user.phonenumber">
Select Role :
<input type = "radio" value = "STUDENT" ng-model = "user.role">Student
<input type = "radio" value = "EMPLOYEE" ng-model = "user.role">Employee
<input type = "radio" value = "ALUMINI" ng-model = "user.role">Alumini
<input type = "submit" value = "Register" ng-click = "registerUser()">
</pre>
</form>
 -->



<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>  
  <link rel="stylesheet" href="css/registerstyle.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">  
  
</head>

<body>

<div class="container">
  <div class="row">
  <form action="" class="col-xs-12 col-sm-12 col-md-12">
  <h2>Signup Page</h2>
  
  <span style="color:red" ng-if="error.code==1">{{error.message}}</span>
  
  <div class="form-group">
      <input type="text" class="form-control" ng-model = "user.username" placeholder="Enter UserName *" name="name" required>
      <span style="color:red" ng-if="error.code==2">{{error.message}}</span>
    </div>
    
    <div class="form-group">
      <input type="password" class="form-control" ng-model = "user.password" placeholder="Enter password *" name="pwd" required>
   </div>   
   
   <div class="form-group">
      <input type="text" class="form-control" ng-model = "user.firstname" placeholder="Enter First Name *" name="firstName" required>
    </div>
	
	<div class="form-group">
      <input type="text" class="form-control" ng-model = "user.lastname" placeholder="Enter Last Name *" name="lastName" required>
    </div>
	
    	<div class="form-group">
      <input type="email" class="form-control" ng-model = "user.email" placeholder="Enter email *" name="email" required>
      <span style="color:red" ng-if="error.code==3">{{error.message}}</span>
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" ng-model = "user.phonenumber" placeholder="Enter phone number *" name="phonenumber" required>      
    </div>	
   
    <div class="radiobutton">
      <label><input type = "radio" value = "STUDENT" ng-model = "user.role"><span>Student</span></label><br>
      <label><input type = "radio" value = "EMPLOYEE" ng-model = "user.role"><span>Employee</span></label><br>
      <label><input type = "radio" value = "ALUMINI" ng-model = "user.role"><span>Alumini</span></label><br>
    </div>
    
    <button type="submit" class="btn btn-success" ng-click = "registerUser()">Submit<i class="glyphicon glyphicon-send"></i></button>  
      
    
  </form>
  </div>
</div>

</body>
</html>